/* Reset default margin and padding for body and form */
body, form {
    margin: 0;
    padding: 0;
}

/* Center search form and cards */
.search-container {
    text-align: center;
    margin-top: 30px; /* Increased margin for more spacing */
}


/* Center cards and add spacing */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
}

h2 {
    margin-top: 10px;
}