body, form {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* Center search form and cards */
.search-container {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form {
    width: 100%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px;
}

::placeholder {
    color: black;
}

#search-form input {
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    appearance: none;
    
}

#search-form button {
    background-color: transparent;
    border: 0;
    width: 60px;
    cursor: pointer;
    font-size: 15px;
    padding: 2%;
    transition: height 0.5s, color 0.5s;
    
}

#search-form button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  color: white;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates the responsive grid, can always mess around with it */
    gap: 20px; /* Spacing between grid items */
    padding: 20px;
    font-size: 13px;
    color: black;   
}



.card {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
   
    
}

.card img {
    max-width: 100%; 
}

h2 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.coat {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.flag {
    width: 300px;
    height: 200px;
}

h1 {
    margin-top: 0;
    font-size: 80px;
    opacity: .75;
    font-family: cursive, arial, sans-serif;

}



p1 {
    max-width: 100px;
    word-wrap: break-word;
   
}

button, input {
    line-height: 1.5em;
}



body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/570/755/original/vector-political-paper-map-of-the-world-on-a-gray-background-paper-art-world-map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    height: 500vh;
    width: 100vw;
}

.cardButton {
   display: inline-block;
   margin: 0 5px;
   border: none;
   border-radius: 40px;
   padding: 5px 12px;
}

.cardButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    color: white;
}

#saveBar {
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    width: 250px;
    display: grid;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 40px;
}

.savedCountryDiv {
    right: 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    background-color: rgba(21, 20, 20, 0.3);
    
    
}

.saveListButton {
    align-self: center;
    border: none;
    padding: -3px;
    background-color: transparent;
}

.saveListButton:hover {
    background-color: white;
    height: 100%;
}

.saveListName {
    position: relative;
}

